<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-tcp-sockets" version="1.1.0">
    <name>cordova-plugin-tcp-sockets</name>
    <description>
		This Cordova plugin provides JavaScript API, that allows you to communicate with server through TCP protocol.
		Currently we support these platforms: iOS, Android, WP8.
	</description>
    <license>Apache 2.0</license>
    <keywords>socket,sockets,network,tcp,cordova</keywords>

    <js-module src="src/main.js" name="Socket">
        <clobbers target="cordova.plugins.sockets" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SocketsForCordova"> 
                <param name="android-package" value="cz.blocshop.socketsforcordova.SocketPlugin"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>  
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/Logging.java" target-dir="src/cz/blocshop/socketsforcordova" />
        <source-file src="src/android/src/cz/blocshop/socketsforcordova/Consumer.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapter.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapterImpl.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/ServerSocketAdapter.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/ServerSocketAdapterImpl.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketAdapterOptions.java" target-dir="src/cz/blocshop/socketsforcordova" />
		<source-file src="src/android/src/cz/blocshop/socketsforcordova/SocketPlugin.java" target-dir="src/cz/blocshop/socketsforcordova" />
		
    </platform>
    
    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="/*">
            <feature name="SocketsForCordova">
                <param name="ios-package" value="SocketPlugin" />
            </feature>
        </config-file>

        <header-file src="src/ios/SocketsForCordova/Classes/SocketPlugin.h" />
	    <source-file src="src/ios/SocketsForCordova/Classes/SocketPlugin.m" />

        <header-file src="src/ios/SocketsForCordova/Classes/SocketAdapter.h" />
        <source-file src="src/ios/SocketsForCordova/Classes/SocketAdapter.m" />

        <header-file src="src/ios/SocketsForCordova/Classes/ServerSocketAdapter.h" />
        <source-file src="src/ios/SocketsForCordova/Classes/ServerSocketAdapter.m" />

	    <!--<framework src="CoreGraphics.framework" />-->
    </platform>


    <platform name="windows">
        <config-file target="config.xml" parent="/*">
            <feature name="SocketsForCordova">
                <param name="windows-package" value="Blocshop.ScoketsForCordova.SocketsForCordova"/>
                <Capability Name="internetClient" />
                <Capability Name="internetClientServer" />
                <Capability Name="privateNetworkClientServer" />
            </feature>
        </config-file>
        <js-module src="src/windows/SocketPluginProxy.js" name="SocketPluginProxy">
            <merges target="" />
        </js-module>
		
        <framework src="src/windows/native/Socket/Socket/Socket.csproj" custom="true" type="projectReference" versions="10.*" />
    </platform>
</plugin>
